<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arai3" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arai3" >
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity
            android:name=".Web_Graph"
            android:exported="false" />
        <activity
            android:name=".scannerView"
            android:exported="false" />
        <activity
            android:name=".Result_data"
            android:exported="false" />
        <activity
            android:name=".Hotspot_mode"
            android:exported="false" />
        <activity
            android:name=".Wifi_mode"
            android:exported="false" />
        <activity
            android:name=".Internet_mode"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>